<!DOCTYPE html>
<html ng-app>
  <head>
    <title>T-Rex WebApp</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/concise.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>
    <header container>
      <div row class="testing">
        <div column="2" class="testing">
          <img src="/images/47877012.png" width="150px" height="150px" alt="SIB Logo" >
        </div>
        <div column="5 +5" class="relative-element testing" style="padding-top: 6.55em;">
          <div column="3" class="testing">
            <h4>
              <a href="#"><%= __('About') %></a>
            </h4>
          </div>
          <div column="3" class="testing">
            <h4>
              <a href="#">
                <%= __('Contact')%>
              </a>
            </h4>
          </div>
          <div column="3" class="testing">
            <h4>
              <a href="#">
                <%= __('Credits')%>
              </a>
            </h4>
          </div>
          <div column="2" class="testing">
            <h4>
              <a href="#">En</a>/<a href="#">Es</a></h4>
          </div>
        </div>
      </div>
    </header>
    <div container class="testing main-panel">
      <%- body %>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/angular.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
