/** TESTING **/

/**
 LAYOUT
**/
.main-panel{
  margin-top: 1em;
}

.padding-top-1 {
  padding-top: 1em;
  }

.margin-top-1 {
  margin-top: 1em;
}

/**
 * Drag and Drop
**/
.drag-n-drop {
  padding: 1em;
  border-style: dashed;
  border-width: medium;
  border-radius: 2px;
  border-color: gray;
  font-size: 170%;
  background-color: rgb(227, 208, 204);
}

/**
 * Table
**/
#tblResults {
  font-size: 80%;
}

#tblResults th {
  padding: 0;
  line-height: 3em;
  text-align: center;
}


/**
 * Modal advanced search
**/
#modal-advanced-search {

}

/**
 * GENERAL
**/
.no-padding {
  padding: 0;
}
/*/
.invisible{
 display:none;
}
/*
.testing {
  border-style: dashed;
  border-width: thin;
}
/**/
